<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<meta charset="utf-8" />
<title>produits</title>

<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	type="text/css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
<header>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">G_Prd</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{index}">Chercher</a></li>
					<li><a th:href="@{form}">Produits</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Information sur un produit</div>
		<div class="panel-body">
		<div class="container">
		<label>Id:</label>
		<label class="control-label" th:text="${produit.id}">Id:</label>
		</div>
		
		<div class="container">
		<label>Dédignation:</label>
		<label class="control-label" th:text="${produit.designation}">Dédignation:</label>
		</div>
		<div class="container">
		<label>Prix:</label>
		<label class="control-label" th:text="${produit.prix}">Prix:</label>
		</div>
		<div class="container">
		<label>Quantite:</label>
		<label class="control-label" th:text="${produit.quantite}">Quantite:</label>
		</div>
		</div>
	</div>
	</div>
</body>
</html>